@media only screen and (max-width: 768px) {

  body {
    font-size: 14px;
  }

  nav {
    font-size: 1.2em;
    text-align: center;
  }

  .contact-info,
  .education,
  .experience,
  .skills {
    margin-bottom: 0.5em;
  }

  .steam,
  .sportsimg,
  .cryptoimg,
  .manonthemoon,
  .avicii,
  .abba {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  body {
    font-size: 16px;
  }

  nav {
    font-size: 1.3em;
  }

  .steam,
  .sportsimg,
  .cryptoimg,
  .manonthemoon,
  .avicii,
  .abba {
    width: 70%;
    margin: 0 auto;
  }
}


body {
  font-family: "Inria Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: .2em;
  padding: .2em;
  background-color: #DDDDDD;
}

h1, h2 {
  margin: 1em 0;
}

p, ul {
  margin: 0.5em 0;
}

li {
  list-style: none;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #666;
}

nav {
  background-color: #939393;
  padding: 0.5em;
  font-size: 1.5em;
}

nav ul {
  font-family: Copperplate, fantasy;
  display: flex;
  justify-content: space-evenly;
  text-shadow: #CACACA 1px 0 10px;
}

.contact-info {
  margin-bottom: 1em;
}

.contact-info p {
  display: inline-block;
  margin-right: 1em;
}

.education, .experience {
  margin-bottom: 1em;
}

.education ul, .experience ul {
  margin-left: 1em;
}

.center {
  display: block;
  margin-left: 2em;
  margin-right: auto;
}

.steam {
  display: block;
  margin-left: 2em;
  margin-right: auto;
  width: 325px;
  height: 325px;
}

.sportsimg {
  display: block;
  margin-left: 2em;
  margin-right: auto;
  width: 410px;
  height: 267px;
}

.cryptoimg {
  display: block;
  margin-left: 2em;
  margin-right: auto;
  width: 457px;
  height: 239px;
}

.manonthemoon {
  display: block;
  margin-left: 2em;
  margin-right: auto;
  width: 400px;
  height: 400px;
  position: static;
}

.avicii {
  display: block;
  margin-left: 2em;
  margin-right: auto;
  width: 300px;
  height: 180px;
  position: static;
}

.abba {
  display: block;
  margin-left: 2em;
  margin-right: auto;
  width: 450px;
  height: 400px;
  position: static;
}

.video {
  display: block;
  margin-left: 2em;
  margin-right: auto;
}

#mailaddress {
  color: red;
}
